# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\UNIVERSIDAD\9 semestre\ARSW\laboratorios\LAB#2\ARSW_LAB2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
